/* common-styles */
.flex{
    display: flex;
    align-items: center;
    gap: 7px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px; 
}




